
<%= form_for( [@wedding,@payment] ) do |f| -%>

<div ><%= f.submit "Save", :class => "btn btn-success"%></div><br />
<table>
	<tr>
		<th size = "8px">Date</th>
		<th size = "9px">Amount</th>
		<th size = "8px">Type</th>
		<th size = "8px">Method</th>
		<th size = "7px"> Reference</th>

	</tr>

	<tr>
		<td> <%= f.date_field :pmt_date %></td>
		<td><%= f.text_field :pmt_amount %> </td>
		<td> <%= f.text_field :pmt_type %></td>
		<td> <%= f.text_field :pmt_method %></td>
		<td> <%= f.text_field :reference %></td>
	</tr>

</table>




	
<% end -%>