<%= form_for(@wedding) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- beginning of form -->
  
  

<div class = "container-fluid">
  <div class="actions">
    <%= f.submit "Save" %>
  </div> 
  <br />
  <div class = "row" id = "brideC">
    <div class = "col-sm-3 ">
     <%= f.label :bride_first_name, "Bride" %>
     <%= f.text_field :bride_first_name ,:size => "15"%>  

    </div>
    <div class = "col-sm-2">

      <%= f.text_field :bride_last_name,:size => "15" %>  

    </div>  

      
    <div class = "col-sm-3">
      
      <%= f.label :bride_phone, "Phone" %>
      <%= f.text_field :bride_phone,:size => "10" %> 
    </div>
    <div class = "col-sm-4">
      <%= f.label :bride_email, "Email" %>
      <%= f.text_field :bride_email, :size => "25" %>
    </div>
  </div>  <br />
  <div class = "row" id = "groom">
    <div class = "col-sm-3">
      <%= f.label :groom_first_name, "Groom" %>
      <%= f.text_field :groom_first_name,:size => "15" %>  
    </div>
    <div class = "col-sm-2">
      <%= f.text_field :groom_last_name ,:size => "15"%>  
    </div>
    <div class = "col-sm-3">
      <%= f.label :groom_phone, "Phone" %>
      <%= f.text_field :groom_phone,:size => "10" %>
    </div>
    <div class = "col-sm-4">
      <%= f.label :groom_email, "Email" %>
      <%= f.text_field :groom_email,:size => "25" %>
    </div> 
  </div><br/>
  <div class = "row" id = "location">
    <div class = "col-sm-6">
      <%= f.label :location, "location" %>
      <%= f.text_field :location, :size=>"50" %> 
    </div>
    <div class = "col-sm-3">
      <%= f.label :wedding_date, "Date" %>
      <%= f.date_field :wedding_date, :size => "15" %> 
    </div>
    <div class = "col-sm-3">
      <%= f.label :wedding_time, "Time" %>
      <%= f.time_select :wedding_time, :size => "15"  %> 
    </div>
  </div><br> 
  
    Rehearsal
      <%=  f.check_box  :rehearsal ,class: "checkbox-inline" %> 
 <br/><br/>
  <div class = "row", id="wedding-with-line" >
    
    <div class = "col-sm-6">
     <%= f.label :rehearsal_location, "location" %>
     <%= f.text_field :rehearsal_location , :size => "40"%> 
    </div>
     <div class = "col-sm-3"> 
      <%= f.label :rehearsal_date, 'Date' %>
      <%= f.date_field :rehearsal_date %> 
    </div>
    <div class = "col-sm-3">
      <%= f.label :rehearsal_tine, 'Time' %>
      <%= f.time_field :rehearsal_time,:size => "10" %> 
    </div>
    
    
   
  </div>
  <br />
  
  <!-- naw add the cost factors-->
  <div class="field">
    <%= f.radio_button :package_type ,"Budget" %>
    <%= f.label :package_type ,"Budget" %>
    <%= f.radio_button :package_type ,"Basic" %>
    <%= f.label :package_type ,"Basic" %>
    <%= f.radio_button :package_type ,"Standard" %>
    <%= f.label :package_type ,"Standard" %>
  </div>
  
<!-- here is the end -->
    
   
  
<% end %>