<%= form_for(@wedding, html: { multipart: true }) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- beginning of form -->
  
  

<div class = "container-fluid">
  
   <div class="form-actions">
    
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
  <div class = "row" id = "brideC">
   
    <div class = "col-sm-3 ">
     <%= f.label :bride_first_name, "Bride" %>
     <%= f.text_field :bride_first_name ,:size => "15"%>  

    </div>
    <div class = "col-sm-2">

      <%= f.text_field :bride_last_name,:size => "15" %>  

    </div>  

      
    <div class = "col-sm-3">
      
      <%= f.label :bride_phone, "Phone" %>
      <%= f.text_field :bride_phone,:size => "12" %> 
    </div>
    <div class = "col-sm-4">
      <%= f.label :bride_email, "Email" %>
      <%= f.text_field :bride_email, :size => "25" %>
    </div>
  </div>  <br />
  <div class = "row" id = "groom">
    <div class = "col-sm-3">
      <%= f.label :groom_first_name, "Groom" %>
      <%= f.text_field :groom_first_name,:size => "15" %>  
    </div>
    <div class = "col-sm-2">
      <%= f.text_field :groom_last_name ,:size => "15"%>  
    </div>
    <div class = "col-sm-3">
      <%= f.label :groom_phone, "Phone" %>
      <%= f.text_field :groom_phone,:size => "12" %>
    </div>
    <div class = "col-sm-4">
      <%= f.label :groom_email, "Email" %>
      <%= f.text_field :groom_email,:size => "25" %>
    </div> 
     
  <br><br>
  </div class="wedding-with-line">
   <% if @wedding.web_date.present? %>
      Web date <%= @wedding.web_date %>
  <% end %>
  <div class = "row" id = "location">
    <div class = "col-sm-5">
      <%= f.label :location, "location" %>
      <%= f.text_field :location, :size=>"45" %> 
    </div>
    <div class = "col-sm-3">
      <%= f.label :wedding_date, "Date" %>
      <%= f.date_field :wedding_date, data:{prvide:'datepicker'} %>
    </div>
    <div class = "col-sm-3">
      <%= f.label :wedding_time, "Time" %>
             <%= f.time_select  :wedding_time, {minute_step: 30, ampm: true}   %>      
<!-- -->
    </div>
  </div><br>
  
    Rehearsal
      <%=  f.check_box  :rehearsal , class: "checkbox-inline" %> &nbsp &nbsp
      Counseling <%= f.check_box :counseling, class: "checkbox-inline" %> 

 <br/><br/>
  <div class = "row", id="wedding-with-line" >
    
    <div class = "col-sm-5">
     <%= f.label :rehearsal_location, "location" %>
     <%= f.text_field :rehearsal_location , :size => "40"%> 
    </div>
     <div class = "col-sm-3"> 
      <%= f.label :rehearsal_date, 'Date' %>
       <%= f.date_field :rehearsal_date,data:{prvide:'datepicker'} %> 

    </div>
    <div class = "col-sm-3">
      <%= f.label :rehearsal_tine, 'Time' %>
      <%= f.time_select :rehearsal_time, {minute_step: 30, ampm: true}  %> 
    </div>
    
    
   
  </div>
  <br />
  <div class = "row">
    <div class = "col-md-3 well">
           Photo
            <%= image_tag(@wedding.image_file.url, size: "160x200 >", class: "gravatar") if @wedding.image_file? %>
      <span class = "picture" >
        <%= f.file_field :image_file, accept: "image/jpeg, image/gif, image/png" %>

      </span>
    </div>
    <div class = 'col-md-9'>
      comments<br>
      <%= f.text_area :comments ,cols: 100 , rows: 10 %>
    </div>
 </div>
    
 
  
  <br/>

  
  
  <!-- naw add the cost factors-->
  <div class="field last-item"> Wedding type &nbsp &nbsp
    <span>  <%= f.radio_button :package_type ,"Budget" %>
      <%= f.label :package_type ,"Budget" %>
      <%= f.radio_button :package_type ,"Basic" %>
      <%= f.label :package_type ,"Basic" %>
      <%= f.radio_button :package_type ,"Standard" %>
      <%= f.label :package_type ,"Standard" %>
      
    </span>
    <span> 
      <%= f.label :guest_count %> 
      <%= f.text_field :guest_count %>
    </span>


  </div>
  
      
    <div class = "field last-item">
      <!-- <div class = "col col-sml-3"> -->
       
      <%= f.label :wedding_cost %>
      <%= number_to_currency(f.text_field :wedding_cost,:size  => "8" ) %>
      <%= f.label :other_cost %>
      <%= number_to_currency(f.text_field :other_cost,:size  => "8" ) %>
      <%= f.label :referal_fee, "Referal Fee" %>
      <%= number_to_currency(f.text_field :referal_fee,:size  => "8" ) %>
      Wedding total cost &nbsp&nbsp<b><%= number_to_currency(@wedding.wedding_cost + @wedding.other_cost) %></b>
    </div>
    <!-- <section id = "payments-section"> -->
 
 
     

   
  <p><b> Payments: 
    <%= @wedding.payments.count %> totaling &nbsp
    <%= number_to_currency(@wedding.payments.sum(:pmt_amount)) %></b>&nbsp &nbsp
    <!-- for now untill fix for payment save online comment out -->
   
    <%= link_to new_wedding_payment_path(@wedding) do %>  
    
    <span class = "btn btn-sm btn-primary">Add Payment</span>&nbsp &nbsp
    <% end %> 
    <b>Balance Due = <%= number_to_currency((@wedding.wedding_cost + @wedding.other_cost) -  @wedding.payments.sum(:pmt_amount)) %></b>

    <% @wedding.payments.each do |pmt| %>
    <p>
      <%= link_to 'edit ' + pmt.pmt_type + ' on ' + pmt.pmt_date.to_s+ ' for '+ number_to_currency(pmt.pmt_amount).to_s, edit_wedding_payment_path(@wedding, pmt) %></p>
    <% end %>
  </p>
 
    <!-- now add email history -->

      <script>
        var emailTo = '<%= @wedding.bride_email %>'
        var emailSubject = 'Wedding ' +'<%= @wedding.wedding_date.to_s %>'
        var userSignature = '<%= current_user.first_name  %>' +" " +'<%= current_user.last_name %>'
        var userSignature =userSignature + '\n' +'<%= current_user.email %>' +'\n' +'<%= current_user.user_phone %>'
        function onTemplateSelectChange (event) {
          var templateId = event.target.value
          fetch('<%= email_templates_url %>/' + templateId + '.json').then(function (response) {
            if (response.ok) {
              response.json().then(function (data) {

                var emailBody =  '<%= @wedding.email_salutation %>'  + data.body + '\n\n' + userSignature
                

                var mailTo = "mailto:" + emailTo + 
                             "?subject=" + encodeURIComponent(emailSubject) + 
                             "&body=" + encodeURIComponent(emailBody)

                var el = document.getElementById('openEmailClient')
                el.href = mailTo
                el.style.visibility = 'visible'
                console.log(el.href)

              }).catch(function (e) { alert('Error getting email template') })
            }
          }).catch(function (e) { alert('Error getting email template') })
          return false
        }
     </script>
     <script type="text/javascript">
       function recordHistory(event) {
        // make a url to record history route
        var templateId = $('#emailSelectW').val();
        var weddingId = '<%= @wedding.id %>';
        // debugger
         $.ajax({
            url: "/email_history/Create/?type=wedding"+"&template_id="+templateId+"&id="+weddingId,
            type: "post",
            data: {email_history: {template_id: templateId, id: weddingId} },
            success: function(){
              alert('Saved Successfully');
            },
            error: function(){
             alert('Error');
            }
          });
       }
     </script>

    <!--add the email history in a table-->
      <div class="panel panel-info">
        <div class="panel-heading">Email History &emsp;&emsp; 
       <!--<%= link_to  %> -->
           <%# @inquiry.send_inquiry_email %>  

           &emsp;&emsp;
           <% templates = EmailTemplate
                            .where("template_type='Wedding'")
                            .where("user_id=0 or user_id=?" , 
                              session[:user_id]).order(:template_title).collect {|et| [et.template_title, et.id]} %>
           <%= select "etemp", "id",  templates, {include_blank: 'None'}, { onchange: 'onTemplateSelectChange(event)' ,id: 'emailSelectW'} %>
            <!--add button to send email--> 
           
           &emsp;
           <!-- <a id="openEmailClient" href="#" style="visibility: hidden" onclick = 'recordHistory(event)'> -->

           <a id="openEmailClient" href="#" style="visibility: hidden" >
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
           </a>

             <!--<span class ="btn btn-small btn-info"> Send email  <i class = 'fa fa-envelope' ></i> </span>-->
          </div>

           <table >
            <tr>
              <th width  = "140px">Date sent</th>
              <th width  = "180px">Template </th>
            </tr>
            
            <!-- todo change this from fields to output text -->
            <!-- make this a partil for the ajax call  -->
            <% @wedding.email_histories.each do |e| %>
            <tr>
              <td> <%= e.date_sent %> </td>
             <td>  <%= e.email_template.template_title %> </td>
             
             </tr>
             <% end %>
           
          </table>
  
<% end %>


<!-- here is the end -->
<!-- <script type="text/javascript">
  $("#cwedding_image_file").bind("change", function() {
    size_in megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5){
      alert("Maximum size for file is 5MB. Please chose a smaller file");
      
    }
  });
  
</script> -->
    
   
