<%= form_for(@wedding, html: { multipart: true }) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- beginning of form -->
  
  

<div class = "container-fluid">
  
   <div class="form-actions">
    
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div><br />
  
  <br />
  <div class = "row" id = "brideC">
   
    <div class = "col-sm-3 ">
     <%= f.label :bride_first_name, "Bride" %>
     <%= f.text_field :bride_first_name ,:size => "15"%>  

    </div>
    <div class = "col-sm-2">

      <%= f.text_field :bride_last_name,:size => "15" %>  

    </div>  

      
    <div class = "col-sm-3">
      
      <%= f.label :bride_phone, "Phone" %>
      <%= f.text_field :bride_phone,:size => "11" %> 
    </div>
    <div class = "col-sm-4">
      <%= f.label :bride_email, "Email" %>
      <%= f.text_field :bride_email, :size => "25" %>
    </div>
  </div>  <br />
  <div class = "row" id = "groom">
    <div class = "col-sm-3">
      <%= f.label :groom_first_name, "Groom" %>
      <%= f.text_field :groom_first_name,:size => "15" %>  
    </div>
    <div class = "col-sm-2">
      <%= f.text_field :groom_last_name ,:size => "15"%>  
    </div>
    <div class = "col-sm-3">
      <%= f.label :groom_phone, "Phone" %>
      <%= f.text_field :groom_phone,:size => "11" %>
    </div>
    <div class = "col-sm-4">
      <%= f.label :groom_email, "Email" %>
      <%= f.text_field :groom_email,:size => "25" %>
    </div> 
     
  <br><br>
  </div class="wedding-with-line">
   <% if @wedding.web_date.present? %>
      Web date <%= @wedding.web_date %>
  <% end %>
  <div class = "row" id = "location">
    <div class = "col-sm-5">
      <%= f.label :location, "location" %>
      <%= f.text_field :location, :size=>"45" %> 
    </div>
    <div class = "col-sm-3">
      <%= f.label :wedding_date, "Date" %>
      <%= f.date_field :wedding_date,data:{prvide:'datepicker'}  %>
    </div>
    <div class = "col-sm-3">
      <%= f.label :wedding_time, "Time" %>
             <%= f.time_select  :wedding_time, {minute_step: 30, ampm: true}   %>      
<!-- -->
    </div>
  </div><br>
  
    Rehearsal
      <%=  f.check_box  :rehearsal ,class: "checkbox-inline" %> 
 <br/><br/>
  <div class = "row", id="wedding-with-line" >
    
    <div class = "col-sm-5">
     <%= f.label :rehearsal_location, "location" %>
     <%= f.text_field :rehearsal_location , :size => "40"%> 
    </div>
     <div class = "col-sm-3"> 
      <%= f.label :rehearsal_date, 'Date' %>
      <%= f.date_field :rehearsal_date,data:{prvide:'datepicker'}   %> 
    </div>
    <div class = "col-sm-3">
      <%= f.label :rehearsal_tine, 'Time' %>
      <%= f.time_field :rehearsal_time,:size => "10" %> 
    </div>
    
    
   
  </div>
  <br>
   <div class="field last-item"> Wedding type &nbsp &nbsp
    <span>  <%= f.radio_button :package_type ,"Budget" %>
      <%= f.label :package_type ,"Budget" %>
      <%= f.radio_button :package_type ,"Basic" %>
      <%= f.label :package_type ,"Basic" %>
      <%= f.radio_button :package_type ,"Standard" %>
      <%= f.label :package_type ,"Standard" %>
      
    </span>
    <span> 
      <%= f.label :guest_count %> 
      <%= f.text_field :guest_count %>
    </span>


  </div>
  <br />
  <div class = "row">
    <div class = "col-md-3 well">
           Photo
            <%= image_tag(@wedding.image_file.url, size: "160x200 >", class: "gravatar") if @wedding.image_file? %>
      <span class = "picture" >
        <%= f.file_field :image_file, accept: "image/jpeg, image/gif, image/png" %>

      </span>
    </div>
    <div class = 'col-md-9'>
      comments<br>
      <%= f.text_area :comments ,cols: 100 , rows: 10 %>
    </div>
 </div>
    
  <% if not current_user.admin? %> 
    <div class="field" style="visibility: hidden">
        <%= f.label :user_id, "officiant" %> <br>
      <%= f.collection_select :user_id , User.where(active: :true).order(:first_name), :id, :get_user_name , {:selected => current_user.id }  %>
    </div>
  <% else %> 
    <div class="field" >
      <%= f.label :user_id, "officiant" %> <br>
      <%= f.collection_select :user_id , User.where(active: :true).order(:first_name), :id, :get_user_name ,  include_blank: :true %>
    </div>
  <% end %>
  
  <br/>

  
  
  <!-- naw add the cost factors-->
 
  
      
   
<% end %>