

<div class = "container">
	<%= link_to "send email", send_fee_email_path %>
	<br><br> 
	<table> 
		
  <tr>
  	<th width = "400px"> Wedding </th>
  	<th width = "100px"> Fee </th>
  	<th width = "60px"> Pay</th>
		<th width = "60px"> Paid </th>
  	<th width = "100px"> Paid date </th>
 
  	<th width = "100px"> Paid Amt </th>
  </tr>
   <% @user_fees.each do |fee| %>
  	<tr>
    	<td><%= fee.get_title %> </td>
			<td><%= number_to_currency(fee.referal_fee) %></td>
			<% if fee.fee_paid?  %>
				<td></td>
			<% else %>

				<td><%= link_to set_fee_payment_wedding_path(fee) ,  method: :post, remote: true  do  %>
	            <span > Pay </span> 

	            <% end %></td>
	     <% end %>
			<td>
				  <% if fee.fee_paid? %><span class="glyphicon glyphicon-ok"></span><% end %>

			</td>

			<td><%= fee.fee_paid_date %></td>
			<td><%= number_to_currency(fee.fee_paid_amount) %></td>
  	</tr>
	<% end %>
	
	</table>

	
			
		

<br>
</div>
