<h3>Preview Template</h3>

<script type="text/javascript">
     
        // make a test email for a template
        function setEmailButton () {
      var emailTo = '<%= current_user.email %>';
     
      var emailSubject = '<%= @email_template.template_type %>  test ' ;
      var userSignature1 = '<%= current_user.get_user_name  %>' ;
      var userSignature =userSignature1 + '\n' +'<%= current_user.email %>' +'\n' +'<%= current_user.user_phone %>';
      var salutation = "Dear " + userSignature1 +", \n";
      var bodyText = '<%=  j @email_template.template_content %>' + '\n\n';
      var footerText = '<%= j  @email_template.template_footer %>';
      console.log(salutation);
      
      var emailBody = salutation + bodyText + userSignature +"\n" + footerText; 
      var tmpText = encodeURIComponent(bodyText)
      tmpText = tmpText.replace(/%26%2339%3B/g, "%27")
      // emailBody = emailBody.replace(/'/g, "%27")
      var mailTo = 'mailto:' + emailTo + "?subject=" + 
      encodeURIComponent(emailSubject).replace(/%26%2339%3B/g, "%27")+
        "&body=" + encodeURIComponent(emailBody).replace(/%26%2339%3B/g, "%27")
       // alert(mailo);
      mailButton = document.getElementById("sendEmailPreview")
      mailButton.href = "Content-Type='text/html;' + mailTo

       var str = "this I'd like".replace(/'/g, "%27")

        console.log(tmpText) 


        // bbb.href = mailTo ;
      }
   
  </script>
 
  <br>
  <a  href = '#' id = "sendEmailPreview" class = "btn btn-sml btn-success">Test email</a>
  <br>
  <script type="text/javascript">
  	window.onload = setEmailButton()
  </script>
<p>To: <%=	current_user.email %></p>

<p>From: <%=	current_user.email %></p>

<p>Subject: <%=	@email_template.template_title %></p>
<p>Salutation: Dear <%=	current_user.get_user_name %>,</p>

<p>Body: <%=	simple_format(@email_template.template_content) %></p>

<p>Signature: <%=	simple_format(current_user.get_signature) %></p>


Footer: <%=	@email_template.template_footer %>

