<%= form_for( [@wedding,@inquiry] ) do |f| %>
 <!--  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> <!-- of error --> -->
  <script type="text/javascript">
    function onOfficiantSelectChange (event) {
      var userID = event.target.value
      var oObj = document.getElementById('inquiry_user_id')
      oObj.value = userID
      // now put out the officiants name
      var w = event.target.selectedIndex
      var userName = event.target.options[w].text
      var oName = document.getElementById('officiantName')
 
      
      oName.value = userName
      // alert(userID)

    }
  </script>
  <div class='container-fluid'>
  <div class="form-actions">
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div><br />
   <% officiants = User.where("active = TRUE").order(:first_name).collect  {|of| [of.first_name + ' ' + of.last_name, of.id]} %>
           <%= select "oname", "id",  officiants, {include_blank: 'None'}, { onchange: 'onOfficiantSelectChange(event)' } %>


    <!-- # <%= f.label :user_id, "User _Id" %> -->
    <%= f.hidden_field :user_id %> 
    Assign this request to : 
   <%= text_field_tag :officiantName %>
  </div>
<% end %> <!-- of form -->
