<%= form_for(inquiry) do |f| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container-fluid'>
    <%= f.fields_for :wedding do |w| %>
    <div class="form-actions">
     <% if @inquiry.wedding.image_file.blank? %>
       <span class = "picture">
        
        <%= w.file_field :image_file, accept: "image/jpeg, image/gif, image/png" %>
        </span> 
      <% else %>
        <%= image_tag(@inquiry.wedding.image_file, size: "100x100", class: "gravatar") if @inquiry.wedding.image_file? %>
      <% end %>
      <%= f.submit "Save", class: 'btn btn-success' %>
    </div><br />
    <div class = "row" >
      <div class = "col-sm-3 ">
       <%= w.label :bride_first_name, "Bride" %>
       <%= w.text_field :bride_first_name ,:size => "15"%>  
  
      </div>
      <div class = "col-sm-2">
        <%= w.text_field :bride_last_name,:size => "15" %>  
      </div>
      <div class = "col-sm-3">
        <%= w.label :bride_phone, "Phone" %>
        <%= w.text_field :bride_phone,:size => "10" %> 
      </div>
      <div class = "col-sm-4">
        <%= w.label :bride_email, "Email" %>
        <%= w.text_field :bride_email, :size => "25" %>
      </div>
    </div>  <br />
    <!--< bride end-->
  <div class = "row" >
    <div class = "col-sm-3">
      <%= w.label :groom_first_name, "Groom" %>
      <%= w.text_field :groom_first_name,:size => "15" %>  
    </div>
    <div class = "col-sm-2">
      <%= w.text_field :groom_last_name ,:size => "15"%>  
    </div>
    <div class = "col-sm-3">
      <%= w.label :groom_phone, "Phone" %>
      <%= w.text_field :groom_phone,:size => "10" %>
    </div>
    <div class = "col-sm-4">
      <%= w.label :groom_email, "Email" %>
      <%= w.text_field :groom_email,:size => "25" %>
    </div> 
  </div><br/> 
  <!--groom end -->
  <div class = "row" >
    <div class = "col-sm-6">
      <%= w.label :location, "location" %>
      <%= w.text_field :location, :size=>"45" %> 
    </div>
    <div class = "col-sm-3">
      <%= w.label :wedding_date, "Date" %>

      <%= w.date_field :wedding_date,  "data-provide" => 'datepicker', "data-date-format" => 'yyyy-mm-dd'  %> 
      <!-- add a hidden field for the formated date -->

    </div>
    <div class = "col-sm-3">
      <%= w.label :wedding_time, "Time" %>
      <%= w.time_field :wedding_time, :size => "15"  %> 
    </div>
   
  </div><br> 
  <div class = "row last-item">
     <div class="field">
      <%= w.label :comments %><br/>
      <%= w.text_area :comments ,:size => "65 x 3"%>
    </div>
    
  </div>
  <!--end location -->
    <% end %>
   
  </div>  <!--end wedding-->
 
  <!--add the buttons to close or book-->

  <div class="actions">
    <div class = "panel panel-default" > 
      <div class="row">
        <div class = "col col-sm-2" >
          <%= link_to close_wedding_inquiry_path(@inquiry) ,  method: :post ,data: { confirm: 'Are you sure?' } do  %>
            <span class ="btn btn-default btn-info"> Close </span>
          <% end %>
        </div>
       
        <div class = "col col-sm-2" >
          <%= link_to book_wedding_inquiry_path(@inquiry) ,  method: :post  do  %>
            <span class ="btn btn-default btn-info"> Book </span>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
  <!--end buttons to clopse/book-->
  <div class="row" >
    <div class = "col-sm-4">
      <div class="field">
        <%= f.label :contacted_email %>
        <%= f.check_box :contacted_email %>
      </div>
   
      <div class="field">
        <%= f.label :email_sent_date %>
        <%= f.date_field :email_sent_date, "data-provide" => 'datepicker', "data-date-format" => 'yyyy-mm-dd'  %>
        <!--<%= f.date_select :email_sent_date, include_blank: true, use_month_numbers:  true, order: [:month,:day,  :year] %>-->
      </div>
     </div>
    <div class = "col-sm-4">
      <div class="field">
        <%= f.label :second_email %>
        <%= f.check_box :second_email %>
      </div>
    
      <div class="field">
        <%= f.label :second_email_date %>
        <%= f.date_field :second_email_date, "data-provide" => 'datepicker', "data-date-format" => 'yyyy-mm-dd'  %>

        <!--<%= f.date_select :second_email_date, include_blank: true, use_month_numbers:  true, order: [:month,:day,  :year] %>-->
      </div>
    </div>
    <div class = "col-sm-4"> 
      <div class="field">
        <%= f.label :contacted_phone %>
        <%= f.check_box :contacted_phone %>
      </div>
    
      <div class="field">
        <%= f.label :phone_call_date %>
        <%= f.date_field :phone_call_date,"data-provide" => 'datepicker', "data-date-format" => 'yyyy-mm-dd'  %>
        <!--<%= f.date_select :phone_call_date , include_blank: true,use_month_numbers:  true, order: [ :month, :day,:year] %>-->
      </div>
    </div>
   
    </div>
    <div class = "row last-item" >
      <div class = "col col-sm-6">
        <div class="field">
          <%= f.label :intro_meeting %>
          <%= f.check_box :intro_meeting %>
        </div>
      
        <div class="field " >
          <%= f.label :meeting_date %>
          <%= f.date_field :meeting_date,  "data-provide" => 'datepicker', "data-date-format" => 'yyyy-mm-dd'  %>
        </div><br />
       </div>
    </div>
      

      <script>
        var emailTo = '<%= @inquiry.wedding.bride_email %>'
        var emailSubject = 'Wedding ' +'<%= @inquiry.wedding.wedding_date.to_s %>'
        var userSignature = '<%= current_user.first_name  %>' +" " +'<%= current_user.last_name %>'
        var userSignature =userSignature + '\n' +'<%= current_user.email %>' +'\n' +'<%= current_user.user_phone %>'
        function onTemplateSelectChange (event) {
          var templateId = event.target.value
          fetch('<%= email_templates_url %>/' + templateId + '.json').then(function (response) {
            if (response.ok) {
              response.json().then(function (data) {

                var emailBody =  '<%= @inquiry.email_salutation %>' +',' + data.body + '\n\n' + userSignature
                

                var mailTo = "mailto:" + emailTo + 
                             "?subject=" + encodeURIComponent(emailSubject) + 
                             "&body=" + encodeURIComponent(emailBody)

                var el = document.getElementById('openEmailClient')
                el.href = mailTo
                el.style.visibility = 'visible'
                //<!--add the email history in a table-->
                
              }).catch(function (e) { alert('Error getting email template') })
            }
          }).catch(function (e) { alert('Error getting email template') })
          return false
          
        }
       
     </script>

    <script type="text/javascript">
      function setHistory  (val1) {
        
        var oTemplate = document.getElementById('etemp_id')
        var templateid = oTemplate.value
        
      }
    </script>
      <div class="panel panel-info">
        <div class="panel-heading">Email History &emsp;&emsp; 
       <!--<%= link_to  %> -->
           <%# @inquiry.send_inquiry_email %>  

           &emsp;&emsp;
           <% templates = EmailTemplate
                            .where("template_type='Request'")
                            .where("user_id=0 or user_id=?" , 
                              session[:user_id]).order(:template_title).collect {|et| [et.template_title, et.id]} %>
           <%= select "etemp", "id",  templates, {include_blank: 'None'}, { onchange: 'onTemplateSelectChange(event)' } %>
            <!--add button to send email--> 
           
           &emsp;
           <a id="openEmailClient" href="#" style="visibility: hidden" onclick="setHistory('help'); return true;">

            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
           </a>

             <!--<span class ="btn btn-small btn-info"> Send email  <i class = 'fa fa-envelope' ></i> </span>-->
          </div>
      
       <!--<div class = "row" >-->
       <!--  <div class = "col col-sm-3">-->
                  

           <table >
            <tr>
              <th width  = "140px">Date sent</th>
              <th width  = "180px">Template </th>
            </tr>
            
            <!-- todo change this from fields to output text -->
            <% @inquiry.email_histories.each do |e| %>
            <tr>
              <td> <%= e.date_sent %> </td>
             <td>  <%= e.email_template.template_title %> </td>
             
             </tr>
             <% end %>
           
          </table>
       <!--  </div>-->
       <!--</div>-->
    </div>
    <span class = "last-item"></span>
  
   
      

 
  </div> <!--end fluid container -->
 
  
<% end %>

