<%= form_for(inquiry) do |f| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='container-fluid'>
    <%= f.fields_for :wedding do |w| %>
    <div class = "row" >
      <div class = "col-sm-3 ">
       <%= w.label :bride_first_name, "Bride" %>
       <%= w.text_field :bride_first_name ,:size => "15"%>  
  
      </div>
      <div class = "col-sm-2">
        <%= w.text_field :bride_last_name,:size => "15" %>  
      </div>
      <div class = "col-sm-3">
        <%= w.label :bride_phone, "Phone" %>
        <%= w.text_field :bride_phone,:size => "10" %> 
      </div>
      <div class = "col-sm-4">
        <%= w.label :bride_email, "Email" %>
        <%= w.text_field :bride_email, :size => "25" %>
      </div>
    </div>  <br />
    <!--< bride end-->
  <div class = "row" >
    <div class = "col-sm-3">
      <%= w.label :groom_first_name, "Groom" %>
      <%= w.text_field :groom_first_name,:size => "15" %>  
    </div>
    <div class = "col-sm-2">
      <%= w.text_field :groom_last_name ,:size => "15"%>  
    </div>
    <div class = "col-sm-3">
      <%= w.label :groom_phone, "Phone" %>
      <%= w.text_field :groom_phone,:size => "10" %>
    </div>
    <div class = "col-sm-4">
      <%= w.label :groom_email, "Email" %>
      <%= w.text_field :groom_email,:size => "25" %>
    </div> 
  </div><br/> 
  <!--groom end -->
  <div class = "row" >
    <div class = "col-sm-6">
      <%= w.label :location, "location" %>
      <%= w.text_field :location, :size=>"45" %> 
    </div>
    <div class = "col-sm-3">
      <%= w.label :wedding_date, "Date" %>
      <%= w.date_field :wedding_date, :size => "15" %> 
    </div>
    <div class = "col-sm-3">
      <%= w.label :wedding_time, "Time" %>
      <%= w.time_field :wedding_time, :size => "15"  %> 
    </div>
   
  </div><br> 
  <div class = "row ", id= "inquiry-with-line">
     <div class="field">
      <%= w.label :comments %><br/>
      <%= w.text_area :comments ,:size => "65 x 3"%>
    </div>
    
  </div>
  <!--end location -->
    <% end %>
   
  </div>  <!--end wedding-->
 
  

  
  <div class="row" >
    <div class = "col-sm-4">
      <div class="field">
        <%= f.label :contacted_email %>
        <%= f.check_box :contacted_email %>
      </div>
   
      <div class="field">
        <%= f.label :email_sent_date %>
        <%= f.date_field :email_sent_date %>
        <!--<%= f.date_select :email_sent_date, include_blank: true, use_month_numbers:  true, order: [:month,:day,  :year] %>-->
      </div>
     </div>
    <div class = "col-sm-4">
      <div class="field">
        <%= f.label :second_email %>
        <%= f.check_box :second_email %>
      </div>
    
      <div class="field">
        <%= f.label :second_email_date %>
        <%= f.date_field :second_email_date %>

        <!--<%= f.date_select :second_email_date, include_blank: true, use_month_numbers:  true, order: [:month,:day,  :year] %>-->
      </div>
    </div>
    <div class = "col-sm-4"> 
      <div class="field">
        <%= f.label :contacted_phone %>
        <%= f.check_box :contacted_phone %>
      </div>
    
      <div class="field">
        <%= f.label :phone_call_date %>
        <%= f.date_field :phone_call_date %>
        <!--<%= f.date_select :phone_call_date , include_blank: true,use_month_numbers:  true, order: [ :month, :day,:year] %>-->
      </div>
    </div>
   
    </div>
  <div class="field">
    <%= f.label :intro_meeting %>
    <%= f.check_box :intro_meeting %>
  </div>

  <div class="field">
    <%= f.label :meeting_date %>
    <%= f.date_select :meeting_date,  use_month_numbers:  true, order: [ :month,:day, :year]  %>
  </div>

  

  <div class="field">
    <%= f.label :closed %>
    <%= f.check_box :closed %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
