<p id="notice"><%= notice %></p>


<div class = "container" >
  <h1>Requests</h1>  
  
  <table>
    <thead>
      <tr>
        <th width = 350px>Wedding </th>
        <th width = 110p>Phone</th>
        <th width = 110p>email sent date</th>
        <th width = 250p>Location</th>
        
       
        
      </tr>
    </thead>
  
    <tbody>
      <% @inquiries.each do |inquiry| %>
        <tr>
          <td> <%=  link_to  inquiry.wedding.get_title, edit_inquiry_path(inquiry) %></td>
        
          <td><%= inquiry.wedding.bride_phone %></td>
           <td><%= inquiry.email_sent_date %></td>
          <td><%= inquiry.wedding.location%></td>
          
  
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  
   <!-- <%= link_to 'New Inquiry', new_inquiry_path %> -->
</div>